<% content_for :title, "Editing orden" %>

<h1>Editing orden</h1>

<%= render "form", orden: @orden %>

<br>

<div>
  <%= link_to "Show this orden", @orden %> |
  <%= link_to "Back to ordens", ordens_path %>
</div>
