<div id="<%= dom_id mesa %>">
  <p>
    <strong>Numero:</strong>
    <%= mesa.numero %>
  </p>

  <p>
    <strong>Disponibilidad:</strong>
    <%= mesa.disponibilidad %>
  </p>

  <p>
    <strong>Capacidad:</strong>
    <%= mesa.capacidad %>
  </p>

</div>
