<% content_for :title, "Editing mesa" %>

<h1>Editing mesa</h1>

<%= render "form", mesa: @mesa %>

<br>

<div>
  <%= link_to "Show this mesa", @mesa %> |
  <%= link_to "Back to mesas", mesas_path %>
</div>
