<% content_for :title, "Selecciona una mesa" %>

<div class="cuadro-wrapper">
            <table class="table table-striped table-hover">
            <tbody>
                <% @mesas.each do |mesa| %>
                    <%= render mesa %>
                <% end %>
                </tbody>
            </table>
</div>