<div class="container" id="container">
  <div class="contenedor">
    
    <!-- LADO IZQUIERDO -->
    <div class="form-container sign-in-container">
      <div class="overlay">
        <div class="overlay-panel overlay-right">
          <!-- NUEVO BLOQUE: DATOS DEL DÃA -->
            <h1 id="dia-actual" class="dia-actual"></h1>
            <h2 id="fecha-actual" class="fecha-actual"></h2>
            <h3 id="hora-actual"></h3>
        </div>
      </div>
    </div>

    <!-- LADO DERECHO -->
    <div class="calendario">
      <div class="text">
        <div id="calendar"></div>
      </div>
    </div>

  </div>
</div>

