<div class="container">
  <% content_for :title, "Editar empleado" %>

  <h1 class="text-center my-4">Editar empleado</h1>

  <%= render "form", empleado: @empleado %>

  <div class="text-center mt-4">
    <%= link_to "Mostrar este empleado", @empleado,  class: "btn-cafe" %>
    <%= link_to "Volver a empleados", empleados_path, class: "btn-cafe2" %>
  </div>
</div>
