<p style="color: green"><%= notice %></p>

<% content_for :title, "Empleados" %>

<h1>Empleados</h1>

<div id="empleados">
  <% @empleados.each do |empleado| %>
    <%= render empleado %>
    <p>
      <%= link_to "Show this empleado", empleado %>
    </p>
  <% end %>
</div>

<%= link_to "New empleado", new_empleado_path %>
