/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
 
.grayscale {
  filter: grayscale(1);
}
.link-resaltado {
  background-color: yellow;
  color: black !important;
  border: 2px dashed red;
  padding: 2px 4px;
  border-radius: 4px;
}
.nav-link.activo {
  background-color: #f4e3dc;
  border-left: 4px solid #603719;
  border-radius:  8px;
}
body.animaciones-reducidas * {
  animation: none !important;
  transition: none !important;
  scroll-behavior: auto !important;
  transform: none !important;
}
.product-item.highlighted {
  background-color: #cce5ff;
  cursor: pointer;
}
.info-dia {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #f4f4f4;
  border-radius: 10px;
  font-size: 1.1rem;
  color: #333;
}

.info-dia p {
  margin: 0.5rem 0;
}
.inline-form {
  display: inline;       /* Hace que el form no sea bloque sino en línea */
  margin: 0;             /* Quita margenes */
  padding: 0;            /* Quita padding */
  background: none;      /* Sin fondo */
  border: none;          /* Sin borde */
}
.btn-link {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: rgb(231, 66, 66);
  text-decoration: underline;
  cursor: pointer;
  display: inline;
}

.btn-link:hover {
  color: rgb(153, 4, 4);
  text-decoration: none;
}
.botones-flex {
  display: flex;     /* Los pone en fila (horizontal) */
  gap: 10px;         /* Espacio entre los botones */
  justify-content: start; /* Alineados al inicio (izquierda) */
  align-items: center;    /* Verticalmente centrados si tienen diferentes alturas */
}
